body {
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  height: auto;
  background: #f5f5f5;
}

.App-Wrapper {
  margin: auto;
  width: 100%;
  height: auto;
  background-color: rgb(239, 239, 247);
}

@media only screen and (min-width: 768px) {
  .App-Wrapper {
    width: 80%;
    height: 100vh;
  }
}
